section{
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue; 
}
form{
display: flex;
flex-direction: column;
padding: 50px;

}
input{
 margin-bottom: 10px;   
}
buttom{
     margin-top: 10px;

}